html {
	background-color: #b9ead3;
	}

div#page {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 10px;
	background-color: aliceblue;
	}


/*Twitter section styles*/
	
section#twitter {
  position: absolute;
  margin-left: 508px;
  margin-top: -430px;
	opacity: 100%;
	}

section#twitter h2 {
    width: 436px;
    height: 36px;
    padding: 10px 15px 10px 0px;
    position: absolute;
    background-color: aliceblue;
	}
	
div#twitter_feed {
	margin-top: 20px;
}
	
	
/*Root index.html page spacing*/
	
div#about {
	width: 470px;
	padding-right: 5px;
	}
	
div#blog {
	width: 470px;
	padding-right: 5px;
	}
	
	
/*Header styles*/
	
header h1 {
	font-family: 'Karla';
	font-size: 6em;
	font-weight: bold;
	}

header > h1 > a {
	text-decoration: none;
	color: black;
	box-shadow: none;
	}	
	
header > h1 > a:hover {
	box-shadow: none;
	}	
	
header h2 {
	font-family: 'Karla', sans-serif;
	font-size: 1.5em;
	margin-top: -10px;
	}


/*Navigation Styles*/	

nav#accessible_nav {
	position: absolute;
	margin-left: -10000px;
	}
	
nav#top_level {
	position: absolute;
	height: auto;
	margin: -120px 0px 0px 800px;
	text-align: right;
	width: 150px;
	font-family: 'Karla', sans-serif;
	font-size: 1.5em;
	}
	
nav#top_level a.active {
	color: white;
	background-color: #b9ead3;
	margin-right: -10px;
	padding-right: 10px;
	padding-left: 50px;
	}
	
nav#top_level > ul > li > a {
	box-shadow: none;
	}


/*CV navigation*/
	
nav#cv_navbar a {
	box-shadow: none;
	font-size: 0.8em;
	}

nav#cv_navbar li {
	display: inline;
	}


/*Hyperlinks*/
	
a:hover {
	box-shadow: inset 0px -4px 0px 0px #41b17c;
	}

a {
	color: #41b17c;
	text-decoration: none;
	box-shadow: inset 0px -4px 0px 0px #c5c5c5;
	-webkit-transition: box-shadow 1s;
	}	

	
/*Inline text styles*/
	
p {
	font-family: 'Rockwell', 'Arvo', "Times-New-Roman", serif;
	font-size: 1em;
	}
	
li {
	font-family: 'Rockwell', 'Arvo', "Times-New-Roman", serif;
	font-size: 1em;
	}
	
h2 {
	font-family: 'Karla', sans-serif;
	font-size: 2em;
	margin-top: 20px;
	}
	
h3 {
	font-family: 'Karla', sans-serif;
	font-size: 1em;
	margin-bottom: 5px;
	}
	

/*Wordpress-specific styles*/

span.screen-reader-text {
	display: none;
}


/*Footer styles*/
footer  li {
	display: inline;
}

footer  a {
	box-shadow: none;
}

footer {
margin-top: 25px;
}

footer img {
padding-right: 5px;
}