@font-face {
	font-family: 'Duo-Dunkel';
	src: url('../fonts/Duo-Dunkel.ttf');
	font-weight: normal;
	font-style: normal;
	}

html {
	background-color: lightblue;
}
	
header h1 {
	font-family: 'Duo-Dunkel';
	font-size: 4em;
	}
	
a:hover {
	text-decoration: underline;
	}

a {
	color: blue;
	text-decoration: none;
	}	
	
p {
	font-family: 'Karla', sans-serif;
	font-size: 1em;
	}
	
h2 {
	font-family: 'Karla', sans-serif;
	font-size: 2em;
	}