@font-face {
	font-family: 'Duo-Dunkel';
	src: url('../fonts/Duo-Dunkel.ttf');
	font-weight: normal;
	font-style: normal;
	}

	
@font-face {
	font-family: 'Open Sans';
	src: url('http://fonts.googleapis.com/css?family=Open+Sans');
	}

html {
	background-color: lightblue;
	}

div#page {
	width: 960px;
	margin-left: 50px;
	margin-right: auto;
	}

div#about {
	width: 470px;
	padding-right: 5px;
	}
	
div#blog {
	width: 470px;
	padding-right: 5px;
	}
	
header h1 {
	font-family: 'Duo-Dunkel';
	font-size: 4em;
	}
	
header h2 {
	font-family: 'Karla', sans-serif;
	font-size: 1.5em;
	margin-top: 0px;
	}
	
nav#accessible_nav {
	margin-left: -10000px;
	}
	
nav#top_level {
	position: fixed;
	height: auto;
	margin: -145px 0px 0px 965px;
	text-align: right;
	width: 150px;
	font-family: 'karla', sans-serif;
	font-size: 1.5em;
	}
	
nav#top_level p {
	font-family: 'Duo-Dunkel';
	font-size: 1em;
	}

a:hover {
	text-decoration: underline;
	}

a {
	color: blue;
	text-decoration: none;
	}	
	
p {
	font-family: 'Rockwell', 'Arvo', "Times-New-Roman", serif;
	font-size: 1em;
	}
	
h2 {
	font-family: 'Karla', sans-serif;
	font-size: 2em;
	margin-top: 20px;
	}
	
h3 {
	font-family: 'Karla', sans-serif;
	font-size: 1em;
	margin-bottom: 5px;
	}
	

	/*Wordpress include styles*/

span.screen-reader-text {
display: none;
}


	
	
/*Footer styles*/
footer {
margin-top: 25px;
}

footer img {
padding-right: 5px;
}